{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm">
            {% csrf_token %}
            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="button" onclick="login()">Login</button>
        </form>
    </div>

    <script>
        function login() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            fetch("{% url 'login_url' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Redirect to the success page or perform other actions
                    window.location.href = "{% url 'license_manager' %}";
                } else {
                 
                // Display the error message
                const loginContainer = document.querySelector('.login-container');
                const errorContainer = document.createElement('div');
                errorContainer.textContent = data.error;
                errorContainer.classList.add('error-message');
                loginContainer.appendChild(errorContainer);

                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>




</body>
</html>
